.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loginLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 15px;
}

.eroorMsg {
  color: red;
  font-size: 20px;
}
